@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    src: url('../public/fonts/Montserrat.ttf');
}

input[type="radio"] {
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: red;
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid red;
  border-radius: 50%;
}